<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>
    <typeAliases>
    	<!-- 系统管理模块 -->
        <typeAlias alias="AdminUser" type="com.gongdan.xadmin.model.AdminUser"/>
        <typeAlias alias="AdminRole" type="com.gongdan.xadmin.model.AdminRole"/>
        <typeAlias alias="AdminResource" type="com.gongdan.xadmin.model.AdminResource"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.gongdan.common.mybatis.PaginationInterceptor"/>
    </plugins>
    <mappers>
    	<!-- 系统管理模块 -->
    	<mapper resource="mybatis/mapper/xadmin/AdminUserMapper.xml"/>
    	<mapper resource="mybatis/mapper/xadmin/AdminRoleMapper.xml"/>
    	<mapper resource="mybatis/mapper/xadmin/AdminResourceMapper.xml"/>
    </mappers>
</configuration>