<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
   <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="safeResultHandlerEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>
    <typeAliases>  
        <typeAlias alias="User" type="com.gongdan.common.entity.User"/>
        <typeAlias alias="LocationInfo" type="com.gongdan.common.entity.LocationInfo"/>
        <typeAlias alias="SysConfigInfo" type="com.gongdan.common.entity.SysConfigInfo"/>
        <typeAlias alias="TaskInfo" type="com.gongdan.common.entity.TaskInfo"/>  
        <typeAlias alias="TaskExtraInfo" type="com.gongdan.common.entity.TaskExtraInfo"/> 
        <typeAlias alias="TaskParticipator" type="com.gongdan.common.entity.TaskParticipator"/> 
        <typeAlias alias="TaskProcessRecord" type="com.gongdan.common.entity.TaskProcessRecord"/> 
        <typeAlias alias="ComponentInfo" type="com.gongdan.common.entity.ComponentInfo"/>  
    </typeAliases>  
    
    <plugins>
        <plugin interceptor="com.gongdan.common.mybatis.PaginationInterceptor"/>
    </plugins>
    
    <mappers>  
        <mapper resource="mybatis/mapper/UserMapper.xml" />  
        <mapper resource="mybatis/mapper/TaskInfoMapper.xml" />  
        <mapper resource="mybatis/mapper/TaskParticipatorMapper.xml" />  
        <mapper resource="mybatis/mapper/SysConfigMapper.xml" />  
    </mappers>  
</configuration> 